[submodule "3-column-preview-card-component-main"]
	path = 3-column-preview-card-component-main
	url = https://github.com/Akshay-Tarde/3-column-preview-card-component-main.git
[submodule "social-proof-section"]
	path = social-proof-section
	url = https://github.com/Akshay-Tarde/social-proof-section.git
[submodule "testimonials-grid-section"]
	path = testimonials-grid-section
	url = https://github.com/Akshay-Tarde/testimonials-grid-section.git
[submodule "fylo-data-storage-component"]
	path = fylo-data-storage-component
	url = https://github.com/Akshay-Tarde/fylo-data-storage-component.git
[submodule "huddle-alternating"]
	path = huddle-alternating
	url = https://github.com/Akshay-Tarde/huddle-alternating.git
