[submodule "3-column-preview-card-component-main"]
	path = 3-column-preview-card-component-main
	url = https://github.com/Akshay-Tarde/3-column-preview-card-component-main.git
[submodule "social-proof-section"]
	path = social-proof-section
	url = https://github.com/Akshay-Tarde/social-proof-section.git
