[submodule "3-column-preview-card-component-main"]
	path = 3-column-preview-card-component-main
	url = https://github.com/Akshay-Tarde/3-column-preview-card-component-main.git
[submodule "social-proof-section"]
	path = social-proof-section
	url = https://github.com/Akshay-Tarde/social-proof-section.git
[submodule "testimonials-grid-section"]
	path = testimonials-grid-section
	url = https://github.com/Akshay-Tarde/testimonials-grid-section.git
[submodule "fylo-data-storage-component"]
	path = fylo-data-storage-component
	url = https://github.com/Akshay-Tarde/fylo-data-storage-component.git
[submodule "huddle-alternating"]
	path = huddle-alternating
	url = https://github.com/Akshay-Tarde/huddle-alternating.git
[submodule "interactive-rating-component"]
	path = interactive-rating-component
	url = https://github.com/Akshay-Tarde/interactive-rating-component.git
[submodule "news-homepage"]
	path = news-homepage
	url = https://github.com/Akshay-Tarde/news-homepage.git
[submodule "launch-countdown-timer"]
	path = launch-countdown-timer
	url = https://github.com/Akshay-Tarde/launch-countdown-timer.git
[submodule "tip-calculator-app"]
	path = tip-calculator-app
	url = https://github.com/Akshay-Tarde/tip-calculator-app.git
[submodule "todo-app"]
	path = todo-app
	url = https://github.com/Akshay-Tarde/todo-app.git
[submodule "advice-generator"]
	path = advice-generator
	url = https://github.com/Akshay-Tarde/advice-generator.git
[submodule "intro-component-with-signup-form"]
	path = intro-component-with-signup-form
	url = https://github.com/Akshay-Tarde/intro-component-with-signup-form.git
